<html>
    <head>
        <title>Simulator Runner</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        {% if simulation_running %}
            <meta http-equiv="refresh" content="2">
        {% endif %}
    </head>
    <body>
        <div class="container text-center">
            <p class="fs-1">Simulator Runner</p>

            {% if simulation_running %}
                <p><a class="btn btn-danger btn-lg disabled">Please wait for previous executation</a></p>
                <p><small>This page will automatically update</small></p>
            {% else %}
                <p><a class="btn btn-primary btn-lg" href="{{ url_for('submit') }}">Run Simulation</a></p>
            {% endif %}

            <h3 class="mt-5">Previous runs</h3>

            <div class="row justify-content-center">
                <div class="col col-8">
                    {% for output in outputs %}
                        <div class="card mb-2 {% if loop.first %}border-primary bg-light{% endif %}">
                            <div class="row g-0">
                                <div class="d-flex col col-5 rounded-start align-items-center justify-content-center {% if loop.first %}bg-primary text-white{% endif %}">
                                    <h5 class="card-title mb-0">{{ output.display }}</h5>
                                </div>
                                <div class="col col-4">
                                    <div class="card-body">
                                        {% if output.html_path %}
                                            <a href="{{ url_for('output', path=output.html_path) }}" class="card-link text-dark">Animation</a>
                                        {% endif %}

                                        {% if output.log_path %}
                                            <a href="{{ url_for('output', path=output.log_path) }}" class="card-link link-dark">Logs</a>
                                        {% else %}
                                            <a class="card-link disabled link-danger disabled">Logs not available</a>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col col-3">
                                    <div class="card-body">
                                        <span class="badge rounded-pill bg-secondary">Friendly</span>
                                        <span class="badge rounded-pill text-dark" style="background-color: #e685b5">zone-0</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>
